[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = 'python src/main.py'

[packages]
opencv-python = "*"
pillow = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scikit-learn= "*"
jupyter = "*"
tensorflow = "==2.9.3"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
