[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = 'python src/main.py'
# model = 'python src/models/main.py'
# svm = 'python src/models/svm.py'
# train_svm = 'python src/models/train_svm.py'

[packages]
opencv-python = "*"
tensorflow = "*"
pillow = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scikit-learn= "*"
jupyter = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
